.App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}
ul > li {
  list-style-type: none;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 50%;
}
ul > li:hover {
  background-color: rgb(18, 7, 114);
  color: white;
}

ul {
  display: flex;
  gap: 20px;
}

.list {
  margin: 10% 20%;
}
